<tr>
  <% if task.title %>
    <th>
      <strong>Title:</strong>
      <strong>Completed:</strong>
    </th>
    <td>
      <%= task.title %>
    </td>
    <td>
      <%= task.completed %>
    </td>
<% end %>
</tr>
