<div id="<%= dom_id task %>">
  <% if task.title %>
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>
  
<% end %>
</div>
