

<tr>
  <thead>
    <th>
      <strong>Title:</strong>
    </th>
    <th>
      <strong>Completed:</strong>
    </th>
  </thead>
</tr>

<tbody>
  <tr>
    <td col>
      <%= task.title %>
    </td>
    
    <td>
      <%= task.completed %>
    </td>
  </tr>
</tbody>
