<p style="color: green"><%= notice %></p>

<% content_for :title, "Todo lists" %>

<h1>Todo lists</h1>

<div id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <table class="table table-bordered table-striped">
      <%= render todo_list %>
    </table>
  <% end %>
</div>

<%= link_to "New Todo List", new_todo_list_path, class: "btn btn-primary" %>
