<p style="color: green"><%= notice %></p>

<% content_for :title, "Todo lists" %>

<h1>Todo lists</h1>

  <table id="todo_lists" class="table table-bordered table-striped">
    <tr>
      <thead>
        <th>Name </th>
        <th>User </th>
      </thead>
    </tr>
    <% @todo_lists.each do |todo_list| %>
        <%= render todo_list %>
    <% end %>
  </table>
<%= link_to "New Todo List", new_todo_list_path, class: "btn btn-primary" %>
